[Unit]
Description=Secure server providing multi-user, multi-client access to task data
After=network.target
Documentation=http://taskwarrior.org/docs/

[Service]
ExecStart=/usr/bin/taskd server --data <dir>
Restart=on-abort
Type=simple
User=Debian-taskd
Group=Debian-taskd

[Install]
WantedBy=multi-user.target
